body{
    text-align: center;
    margin: 0PX;
    padding-top: 200px;
}
#tims{
    width: 100px;
    height: 130px;
    border-radius:50%;

}

#welcome{
    position: absolute;
    overflow:hidden;
    height: 250px;
    color: white;
       top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.83;
    background:linear-gradient(#c8f7f5 0%,#0dbf7b 100%);
    display: table;
    width: 100%;
    height: 80%;
    font-size: 30px;
        
}
#name{
    font-family: cursive;
}
.line{
    height: 20px;
    width: 100px;
    background-color: lightseagreen;
    margin: 8px auto;
}
#bio{
    padding: 500px;
    text-align: center;
    font-size: 42px;
    width: 60%;
}